/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/*--- reset code ---*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {
	display: block;
}
ol,ul {
	list-style:none;
	margin:0px;
	padding:0px;
}
blockquote,q {
	quotes:none;
}
blockquote:before,blockquote:after,q:before,q:after {
	content:'';
	content:none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}

/* start editing from here */
a {
	text-decoration:none;
}
.txt-rt {
	text-align:right;
}/* text align right */
.txt-lt {
	text-align:left;
}/* text align left */
.txt-center {
	text-align:center;
/*-- W3Layouts --*/	
}/* text align center */
.float-rt {
	float:right;
}/* float right */
.float-lt {
	float:left;
}/* float left */
.clear {
	clear:both;
}/* clear float */
.pos-relative {
	position:relative;
}/* Position Relative */
.pos-absolute {
	position:absolute;
}/* Position Absolute */
.vertical-base {	
	vertical-align:baseline;
}/* vertical align baseline */
.vertical-top {	
	vertical-align:top;
}/* vertical align top */
nav.vertical ul li {	
	display:block;
}/* vertical menu */
nav.horizontal ul li {	
	display: inline-block;
}/* horizontal menu */
img {
	max-width:100%;
    margin-top: 5em;
}
/*--- end reset code ---*/
body {
	padding: 0;
	margin: 0;
	background: #FFF;
	margin: 0;
}
body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
}
body a:hover {
	text-decoration: none;
}
body a:focus, a:hover {
	text-decoration: none;
}
input[type="button"], input[type="submit"] {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
label {
	margin: 0;
    letter-spacing: 1px;
}
a:focus, a:hover {
	text-decoration: none;
	outline: none;
}
body {
    background: url(../images/bg.jpg) no-repeat 0px 0px;
    background-size: cover;
    padding: 3em 0 2em;
    font-family: 'Poppins', sans-serif;
}
.register-full {
    width: 55%;
    margin: 0 auto;
}
.register-left {
    background: #009688;
    height: 605px;
}
.register-right {
    background: #FFFFFF;
    background: rgba(0, 0, 0, 0.8);
}
.register-in {

    padding: 2em;
}
.header{
	position: fixed;
	padding: 2em;
	top:0px;
}
.header-cont{
	position: fixed;
	top: 0px;
	width:100%;
}
.register-left p {
    margin: 2em 0;
    line-height: 1.8em;
    font-size: 1em;
    letter-spacing: 1px;
}
.register-right h1 {
    text-transform: uppercase;
    font-size: 2.2em;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 5px;
    color: #FFFFFF;
}
p {
    font-size: 14.5px;
    line-height: 26px;
    margin: 20px 0;
    text-align: center;
}
.link a {
    color: #FFFFFF;
    padding: .5em;
    font-size: 1.5em;
    border:2px solid #0a7369;
}
.checkbox a {
    color: #4CAF50;
}
.link a:hover{
	color:#000;
    border:2px solid #FFFFFF;
	background:none;
}
.register-form {
    margin: 2em 0 0 2em;
    width: 50%;
    float: left;
}
.register-form h4,.address h4{
    margin-bottom: 2em;
    color: #404040;
    margin: 0 0 2em 0;
    font-weight: 600;
}
 .register input[type="text"],.register input[type="email"],.register input[type="password"],.register input[type="tel"]{
    font-size: 1em;
    color: #8c8c8c;
    padding: 0.7em 1em;
    border: 0;
    width: 90%;
    border-bottom: 1px solid #fff;
    background: none;
    -webkit-appearance: none;
	outline: none;
}
input#datepicker {
    letter-spacing: 1px;
    font-size: .9em;
}
select#category1,select#category2{
    font-size: .9em;
    color: #8c8c8c;
    color: #bfbfbf;
    padding: 0.7em;
    border: 0;
    width: 96%;
    border-bottom: 1px solid #fff;
    background: none;
	outline: none;
    cursor: text;
    letter-spacing: 2px;
}
.registerimg {
    width: 40%;
    float: left;
}
input[type="checkbox"] {
    cursor: pointer;
    margin-right: 15px;
    margin-top: 30px;
}
.register textarea {
    min-height: 100px;
    margin-top: 30px;
    resize: none;
    border: none;
    border-bottom: 1px solid #fff;
    width: 96%;
    background: transparent;
    color: #fff;
	font-size:1em;
}
textarea:focus {
    outline: none;
    border: none;
}
input[type="tel"]:focus {
    border: none;
}
/*-- input-effect --*/
.styled-input.agile-styled-input-top {
    margin-top: 0;
} 
.styled-input input:focus ~ label, .styled-input input:valid ~ label,.styled-input textarea:focus ~ label ,.styled-input textarea:valid ~ label{
    font-size: .9em;
    color: #fff;
    top: -1.5em;
    -webkit-transition: all 0.125s;
	-moz-transition: all 0.125s; 
	-o-transition: all 0.125s;
	-ms-transition: all 0.125s;
    transition: all 0.125s;
}
.styled-input {
	width: 100%;
    position: relative;
    margin: 0 0 1.6em;
    color: #fff;
}
.styled-input:nth-child(1),.styled-input:nth-child(3){
	margin-left:0;
}
.textarea-grid{
	float:none !important;
	width:100% !important;
	margin-left:0 !important;
}
.styled-input label {
	color: #8c8c8c;
    color: #bfbfbf;
    padding: 0.5em .9em;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    pointer-events: none;
    font-weight: 400;
    font-size: .9em;
    display: block;
    line-height: 1em;
}
.styled-input input ~ span,.styled-input textarea ~ span {
	display: block;
    width: 0;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: all 0.125s;
    -moz-transition: all 0.125s;
    transition: all 0.125s;
}
.styled-input textarea ~ span { 
    bottom: 5px; 
}
.styled-input input:focus.styled-input textarea:focus { 
	outline: 0; 
} 
.styled-input input:focus ~ span,.styled-input textarea:focus ~ span {
	width: 100%;
	-webkit-transition: all 0.075s;
	-moz-transition: all 0.075s;  
	transition: all 0.075s; 
} 
/*-- //input-effect --*/
.register-form input[type="submit"] {
    outline: none;
    background: #F44336;
    color: #fff;
    border: none;
    padding: .5em 1em;
    margin: 0em 0 0 0;
    -webkit-appearance: none;
    cursor: pointer;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    font-size: 1em;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
}
.register-form input[type="submit"]:hover {
    background: #ffffff;
    color: #F44336;
}
input[type="text"] {
    width: 100%;
}
h2 {
    display: inline-block;
    font-size: 20px;
    color: #fff;
	margin-left:10px;
}
input[type="radio"]:nth-child(2) {
    margin-left: 5em;
    margin-top: 0.5em;
}
ul li label {
    display: block;
    position: relative;
    text-transform: capitalize;
    font-size: 15px;
    padding: 6px 0px 0px 42px;
    margin: 10px auto;
    height: 30px;
    color: #fff;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}
label.rating {
    font-size: 17px;
    color: #fff;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 10px;
    position: relative;
}
ul li input[type=radio] {
    position: absolute;
    visibility: hidden;
}
ul li .check {
    display: block;
    position: absolute;
    border: 2px solid #F44336;
    border-radius: 100%;
    height: 10px;
    width: 10px;
    top: 20px;
    left: 20px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}
input[type=radio]:checked ~ label {
    color: #F44336;
}
ul li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 8px;
    width: 8px;
    top: 1px;
    left: 1px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}
input[type=radio]:checked ~ .check::before {
    background: #F44336;
}


.grid-w3layouts1 ul li, .grid-w3layouts2 ul li {
    color: #000;
    display: block;
    position: relative;
    height: 40px;
    float: left;
    width: 50%;
}
.content-wthree2 {
    margin-bottom: 20px;
}
#ui-datepicker-div {
  background:#212121;
    position: absolute !important;
    z-index: 999 !important;
}
/*-- //contact --*/
/*-- copyright --*/
.agile-copyright {
    color: #fff;
    text-align: center;
    font-size: .9em;
    margin: 2em 0 0;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.agile-copyright a:hover{
    color: #f44336;
}
.agile-copyright a {
    color: #fff;
	font-weight:600;
}
/*-- //copyright --*/

/* responsive design */
@media (max-width: 1920px) {
	body {
		padding: 6em 0 2em;
	}
}
@media (max-width: 1680px) {
	body {
		padding: 4em 0 2em;
	}
}
@media (max-width: 1600px) {
	body {
		padding: 3em 0 2em;
	}
}
@media (max-width: 1440px) {
	.register-full {
		width: 65%;
	}
	.register-left h1 {
		font-size: 2.9em;
	}
}
@media (max-width: 1366px) {
	.register-left h1 {
		font-size: 2.7em;
	}
}
@media (max-width: 1080px) {
	.register-full {
		width: 75%;
	}
	.register-left p {
		line-height: 1.6em;
	}
	.link a {
		padding: .4em;
		font-size: 1.4em;
	}
}
@media (max-width: 1024px) {
	.register-full {
		width: 78%;
	}
	.register-left h1 {
		font-size: 2.5em;
	}
	.register-left {
		height: 602px;
	}
}
@media (max-width: 991px) {
	.register-left h1 {
		font-size: 2.8em;
	}
	.register-right h2 {
		font-size: 1.6em;
	}
	.register-left {
		height: 598px;
	}
	.register-full {
		width: 85%;
	}
}
@media (max-width: 900px) {
	.register-right h2 {
		font-size: 1.3em;
	}
}
@media (max-width: 800px) {
	.register-full {
		width: 84%;
	}
	.register-in {
		padding: 2em;
	}
	.register-left {
		height: 567px;
	}
	.register-left h1 {
		font-size: 2.1em;
	}
	.register input[type="text"], .register input[type="email"], .register input[type="password"], .register input[type="tel"] {
    width: 87%;
	}
	.register-right h1 {
		font-size: 2em;
	}
	p.middlepara {
		font-size: 17px;
	}
	label.rating {
		font-size: 16px;
		letter-spacing: 0px;
	}
}
@media (max-width: 768px) {
	.register-left h1 {
		font-size: 2em;
	}
	.register-left p {
		line-height: 1.4em;
	}
	.link a {
		padding: .4em;
		font-size: 1.2em;
	}
	.register-left {
		height: 559px;
	}
	.register-form {
		margin: 2em 0 0 1em;
		width: 52%;
	}
	.register-full {
		width: 90%;
	}
}

@media (max-width: 736px) {
	.styled-input {
		margin: 0 0 1.2em;
	}
	i {
		line-height: 2em;
	}
	.register-left {
		height: 531px;
	}
	.register-left h1 {
		font-size: 2em;
	}
	.register-right h1 {
		font-size: 1.8em;
	}
	.register-in {
		padding: 2em 1em;
	}
}
@media (max-width: 667px) {
	.register-full {
		width: 90%;
	}
	.register-right h2 {
		font-size: 1.1em;
	}
	.register-form {
		width: 56%;
	}
	body {
		padding: 2em 0 2em;
	}
}
@media (max-width: 640px) {
	.register-full {
		width: 92%;
	}
	.register-left {
		height: 547px;
	}
}
@media (max-width: 600px) {
	.register-left {
		height: 547px;
	}
	.register-right h1 {
		font-size: 1.6em;
	}
	input[type="radio"]:nth-child(2) {
		margin-left: 3em;
	}
	label.rating {
		font-size: 15px;
	}
	.register-form input[type="submit"] {
		padding: 0.4em 1em;
		font-size: .9em;
	}
	.agile-copyright {
		margin: 2em 2em 0;
		letter-spacing: 1px;
	}
}
@media (max-width: 568px) {
	.register-in {
		padding: 1.5em;
	}
	.register-left h1 {
		font-size: 1.7em;
	}
	.register-left p {
		margin: 2em 0;
		line-height: 1.2em;
	}
	.register-left {
		height: 531px;
	}
	.register-right h1 {
		font-size: 1.6em;
		letter-spacing: 0px;
	}
	.registerimg {
		width: 50%;
		float: none;
		margin: 0 auto;
	}
	img {
		margin-top: 2em;
	}
	.register-form {
		width: 75%;
		margin: 2em auto 1em;
		float: none;
	}
}
@media (max-width: 480px) {
	.register-right h1 {
		font-size: 1.5em;
	}
}
@media (max-width: 414px) {
	.register-left{
		width: 100%;
		height: inherit;
	}
	body {
		padding: 1em 0;
	}
	.register-right{
		width:100%;
	}
	.styled-input {
		width: 95%;
	}
	.register-in {
		padding: 1.5em 1em;
	}
	.register-right h1 {
		font-size: 1.3em;
	}
	.register-form {
		width: 85%;
	}
}
@media (max-width: 384px) {
	.register-form {
		width: 95%;
	}
}
@media (max-width: 375px) {
	p {
		font-size: 14px;
	}
	select#category1, select#category2 {
		width: 97.7%;
	}
}
@media (max-width: 320px) {
	body {
		padding: .3em 0;
	}
	.register-left h1 {
		font-size: 1.6em;
	}
	.register input[type="text"], .register input[type="email"], .register input[type="password"], .register input[type="tel"] {
		padding: 0.5em 1em;
	}
	.link a{
		border: 1px solid #0a7369;
	}
	.link a:hover {
		border: 1px solid #FFFFFF;
	}
	.register-left p {
		margin: 1em 0;
	}
	.agile-copyright {
		margin: 2em 1em;
		word-spacing: 1px;
		padding: 0em;
	}
	p {
		font-size: 13.5px;
	}
	p.middlepara {
		font-size: 14px;
	}
	label {
		letter-spacing: 0px;
	}
	.register-full {
		width: 97%;
	}
	.register-right h1 {
		font-size: 1.15em;
	}
	.styled-input {
		width: 100%;
	}
	.register-form {
		width: 100%;
	}
	select#category1, select#category2 {
		letter-spacing: 1px;
	}
	label.rating {
		font-size: 14px;
	}
	.registerimg {
		width: 60%;
	}
}	

/* //responsive design */
